.android/
.gradle/
.kotlin/
.idea/
build/
**/build/
local.properties
*.iml
.DS_Store
captures
.externalNativeBuild
.cxx
xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
kotlin-js-store/
/.devenv/
/.devenv.*
/.direnv/
sdk/src/commonMain/kotlin/uniffi/
sdk/src/androidMain/jniLibs/
